/*
Authors: Group 2
Date: 17 Oct. 2024
File Name: styles.css
*/

/* CSS Reset */
body,
header,
nav,
main,
footer,
figure, div {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */

.container {
    position: relative;
    text-align: center;
    color: #ffc700;
}

.button-container {
    position: relative;
    text-align: center;
    color: #ffc700;
}

body {
    background-color: #fff;
    color: #000;
}

img {
    max-width: 100%;
}

/*style rules for the book now button about page*/

.button-container-about {
    position: relative;
    text-align: center;
    color: #ffc700;
    width: 100%;
}

.button-about {
    background-color: #ffc700;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 4vw;
    border-radius: 2vw;
    height: 8vw;
    position: absolute;
    top: 37%;
    left: 41%;
    }

/*style rules for the book now button about page*/
body {
    background-color: #fff;
    color: #000;
}

img {
    max-width: 100%;
}

/* Style rules for mobile viewport */

.centered {
    position: absolute;
    top: 9%;
    left: 2%;
    transform: translate(-50%, -31%);
    font-size: 4vw;
}

.button {
    background-color: #ffc700;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 4vw;
    border-radius: 2vw;
    height: 8vw;
}

.service {
    position: relative;
    align-content: center;
    top: 88%;
    left: 72%;
    transform: translate(-53%, -196%);
    color: #ffc700;
    font-size: 6vw;
}

/* Style rule show mobile class and hide  and menu-links id*/
.mobile {
    display: block;
}

.tablet-desktop, .desktop,
#menu-links {
    display: none;
}

/* Style rules for header area */

header {
    max-width: 100%;
}

h1 {
    text-align-last: center;
    color: #fff;
}

.logo {
    width: 100px;
    height: 100px;
    float: left;
}

.Booknow {
    padding-left: 128px;
}

/* Style rules for hamburger navigation area */
.mobile-nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.75em;
    color: #ffc700;
    padding: 3%;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Style rules for home main */

.centered {
    position: abolute;
    top: 50%;
    left: 50%;
    transform: translated (-50%, -50%);
}

.welcome {
    font-size: 14vw;
    color: #ffc700;
    text-align: center;
}

.testimonial {
    width: 400vw;
    float: left;
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
}

.book {
    top: 87%;
    left: 40%;
    position: absolute;
}

.graph {
    font-size: 2em;
    padding-right: 10px;
    padding-left: 10px;
}

/* Style rules for elements on about page main */

#grid_about {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.employee {
    color: black;
    text-align: center;
    border: double;
    padding-top: 3em;
    margin: 8em;
}

.names {
    color: black;

}

.about_info {
    text-align-last: center;
    margin: 5em;
    border: double;
    padding: 3em;
}

.container_about {
    position: relative;
    text-align: center;
    color: #ffc700;
}

.employee_intro {
    text-align: center;
    background-color: #A7E7FC;
    height: 7em;
    padding: 2em;
    

}

.meet_our_team {
    height: 100%;
}


.employee_photos {
    height: 80%;
    width: 90%;
    align-content: center;
}

/*style rules for the Resources main*/

.QandA_Tips {
    width:100%;
}

.tips {
    padding: 10%;
    border: double;
    border-color: #ffc700;
    margin: 8em;
}

.questions {
    padding: 10%;
    border: double;
    border-color: #A7E7FC;
    margin: 8em;
}

#grid_resources {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.testamonial {
    color: black;
    text-align: center;
    padding-top: 3em;
    margin: 5em;
    background-color: #A7E7FC;
}

.container_resources {
    position: relative;
    text-align: center;
    color: #ffc700;
}

/* Style rules for elements on service page main */

#bath-and-brush, #full-grooming, #first-groom, #deshedding, #deluxe-spa, 
#add-ons, #pet-bakery, #grooming-boutique, #doggie-daycare {
    padding: 0 2em;
    display: none;
}

.service-info p {
    font-size: 3.5vw;
}

.service-grid {
    display: inline-block;
    padding: 2em;
    max-height: 100%;
    max-width: 100%;
}

.service-grid figure{
    background-color: #ffc700;
    height: 100%;
    width: 100%;
    aspect-ratio: 3 / 1;
    margin: 2em 0;
    align-content: center;
}

.service-grid h2 {
    text-align: center;
    margin: 0;
    font-size: 8vw;
}

.service-grid p {
    text-align: left;
    margin: 0;
}

.service-grid li {
    list-style-type: none;
}

/* Style rules for elements on contact page main */
#contact-content {
    display: inline-block;
    padding: 2em;
}

#phone, #map, #social, #rewards {
    text-align: center;
}

#phone {
    border: 10px solid rgba(167, 231, 252, 1);    
}

#hours {
    border: 10px solid #ffc700;
    margin-top: 15px;
}

#hours p:first-of-type {
    text-align: center;
}

#map {
    margin-top: 15px;
}

#social {
    border: 10px solid rgba(167, 231, 252, 1);
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#social p:first-of-type {
    grid-column: 1 / span 3;
}

#social .icons {
    background-color: black;
    aspect-ratio: 1;
    width:75%;
    align-content: center;
}

#phone p, #hours p {
    margin: 0;
    padding: .5em;
    font-size: 5vw;
}

#rewards {
    margin-top: 15px;
    background-color: #ffc700;
    padding: 0.2em;
}

/* Style rules for book now main */
.book-form {
    padding-top: 108px;
    padding-left: 10px;
    text-align: center;
}

.form {
    padding-right: 10px;
    padding-left: 10px;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    background-color: rgba(167, 231, 252, 1);
    color: #000000;
}

.Employee {
    color: black;
}

/* Mobile Query for Tablet Viewport */
@media screen and (max-width: 1023px),
print {

    /*Tablet Viewport: Show tablet-desktop class, hide mobile class */
   
    .tablet-desktop {
        display: block;
    }

    .mobile,
    .mobile-nav,
    .desktop {
        display: none;
    }

    /* Tablet Viewport: Style rules for header area */
.mobile-nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.75em;
    color: #ffc700;
    padding: 3%;
    position: fixed;
}

 a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
} 
    
    /* Tablet Viewport: Style rules for nav area */
    nav {
        padding: 1%;
    }

    nav ul {
        list-style-type: none;
        text-align: end;
    }

    nav li {
        font-size: 1.3em;
        display: inline-block;
    }

    nav li a {
        text-decoration: none;
        padding: 0 0.25em;
        display: block;
        color: #ffc700;
    }

    /* Tablet Viewport: Style rules for main area */

    .centered {
        top: 50%;
        left: 50%;
    }

    .book {
        top: 67%;
        left: 40%;
        position: absolute;
    }

    #strip {
        height: 35vw;
        padding-bottom: 10px;
    }

    .first {
        width: 40vw;
        height: 60vw;
        float: left;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .welcome {
        font-size: 6vw;
        text-align: left;
    }

    .graph {
        font-size: 1.25em;
    }

    .second {
        width: 52vw;
        height: 60vw;
        float: right;
        padding-right: 10px;
        padding-top: 10px;
    }

    .ammenity {
        width: 30vw;
        height: 25vw;
        padding-right: 10px;
        float: right;
    }

    .testimonial {
        width: 47vw;
        align-content: center;
    }

    .service {
        position: relative;
        align-content: center;
        top: 129%;
        left: 70%;
        transform: translate(-60%, -270%);
        color: #ffc700;
        font-size: 4vw;
    }

    /* Tablet Viewport: Style rules for elements on service page main */
    #service-content {
        padding: 1em;
    }
    
    #bath-and-brush, #full-grooming, #first-groom, #deshedding, #deluxe-spa, 
    #add-ons, #pet-bakery, #grooming-boutique, #doggie-daycare {
        padding: 0 1.5em;
        display: none;
    }

    .service-info h3{
        margin:0;
        text-align: center;
        font-size: 2vw;
    }
    
    .service-info p {
        font-size: 1.5vw;
    }

    .service-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2em;
    }

    .service-grid figure {
        background-color: #ffc700;
        aspect-ratio: 1;
        display:block;
        margin: 0;
    }
    
    .service-grid h2 {
        text-align: center;
        font-size: 4vw;
    }

    .service-grid #extras {
        grid-column: 1 / span 3;
    }

    /* Tablet Viewport: Style rules for elements on contact page main */
    #contact-content article{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 15px;
        max-width: 100%
    }
    
    #phone {
        grid-column: 1;
        grid-row: 1;
    }
    #phone p {
        font-size: 4vw;
    }
    
    #hours {
        grid-column: 1;
        grid-row: 2;
        margin-top:0;
    }
    
    #hours p {
        font-size:4vw;
    }
    
    #map {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top:0;
    }  
    
    #social {
        margin-top:0;
    }
    
    #rewards {
        margin-top:0;
    }

    /* Tablet mobile view for about main*/
    
    
  
   #grid_about_resource{
        display:none;
    }
    
   .mobile_about_resource {
        display:block;
    } 
    
    
  
    /* Tablet mobile view for resource main */
    
    /*Tablet Viewport: Style rules for footer content */
    #grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }

    h1 {
        white-space: nowrap;
    }
}

/* Style rules for book now main */
.book-form {
    padding-top: 1px;
    padding-left: 15px;
    text-align: left;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px),
print {

    /* Desktop Viewport: Show desktop class, hide mobile-tablet class*/
    .desktop {
        display: block;
    }

    .tablet-desktop {
        display: block;
    }

    .mobile-tablet {
        display: none;
    }
    
    .mobile {
        display: none;
    }

    /* Desktop Viewport: Style rules for header area */

    /* Desktop Viewport: Style rules for nav area */
    nav li {
        font-size: 2em;
    }
    
    .mobile-nav {
        display:none;
    }
     nav {
        padding: 1%;
    }

    nav ul {
        list-style-type: none;
        text-align: end;
    }

    nav li {
        font-size: 2em;
        display: inline-block;
    }

    nav li a {
        text-decoration: none;
        padding: 0 0.25em;
        display: block;
        color: #ffc700;
    }

    /* Desktop Viewport: Style rules for main area */

    .graph {
        font-size: 3vw;
    }
    
    /* Desktop Viewport: Style rules for elements on service page main */
    #service-content {
        padding: 0 10em;
    }
    
    .service-grid h2 {
        font-size: 3.5vw;
    }
    
    /* Tablet Viewport: Style rules for elements on contact page main */
    
    #phone p, #hours p {
        font-size: 2.5vw;
    }
    
    /* Style for Desktop about main */
    

/* Style rules for resources main */
    #grid_about_resource {
        display: block;
    }
    
  .mobile_about_resource {
        display: none;
    } 
    /*Desktop Viewport: Style rules for footer content */
    
     #grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }


    /*Desktop Viewport: Style rules for footer content */
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1024px),
print {
    /* Large Desktop Viewport: Style rules for header area */

    /* Large Desktop Viewport: Style rules for nav area */

    /* Large Desktop Viewport: Style rules for main area */

    /* Large Desktop Viewport: Style rules for footer content */
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}